{% extends 'product/base.html' %}
{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last name</th>
      <th scope="col">Address</th>
      <th scope="col">Email</th>
      <th scope="col">Type</th>
      <th scope="col">Latitude</th>
      <th scope="col">Longtitude</th>

    </tr>
  </thead>
  <tbody>
  {% for product in contacts %}
    <tr>
      <th scope="row">{{ product.id }}</th>
      <td>{{ product.name }}</td>
      <td>{{ product.last_name }}</td>
      <td>{{ product.address }}</td>
      <td>{{ product.email }}</td>
      <td>{{ product.type }}</td>
      <td>{{ product.latitude }}</td>
      <td>{{ product.longtitude }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}